# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/


# Node (Angular)
/node_modules
/dist
/tmp
/out-tsc
/.angular/cache
frontend/.angular/
frontend/dist/
frontend/node_modules/

#IDEs and Logs
.vscode/
*.logs
.DS_Store
Thumbs.db

