<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNavbar" [class.navbar-hidden]="isNavbarHidden">
  <div class="container-fluid ">

    <!-- Logo -->
    <a class="navbar-brand" routerLink="/home">
      <h2 id="navbar-company">NicolWork</h2>
    </a>

    <!-- Botão Toggle (visível em mobile) -->
    <button class="navbar-toggler" type="button" (click)="isMenuOpen = !isMenuOpen">
      <i class="bi bi-list"></i>
    </button>

    <!-- Conteúdo da Navbar -->
    <div class="collapse navbar-collapse" [class.show]="isMenuOpen" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="closeMobileMenu()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active" (click)="closeMobileMenu()">Planos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/store" routerLinkActive="active" (click)="closeMobileMenu()">Loja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="closeMobileMenu()">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" (click)="closeMobileMenu()">Contato</a>
        </li>
      </ul>

      <div class="auth-section d-flex">
        <a routerLink="/auth" class="auth-link auth-btn" (click)="closeMobileMenu()">Acessar</a>
      </div>
    </div>
  </div>
</nav>
